*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), url("../assest/Omnifood Contents/hero.jpg");
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0 40px;
}

#bar{
    list-style: none;
    float: right;
    margin-top: 55px;
}

#bar li{
    display: inline-block;
    margin-left: 40px;
    padding: 8px 0;
}

#bar li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav img{
    width: 100px;
    margin: 20px 0 0 0;
}

header h1{
    color: white;


}

header #met{
    position:absolute;
    top: 50%;
    
}
/* *************************************************************************************** */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: yellowgreen;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: yellow;
    border-radius: 50px;
}

::-webkit-scrollbar-button{
    visibility: hidden;
}