*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), url("../assest/Omnifood Contents/hero.jpg");
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0 40px;
}

#bar{
    list-style: none;
    float: right;
    margin-top: 6vh;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

#bar li{
    display: inline-block;
    margin-left: 20%;
    padding: 8px 0;
}

#bar li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav img{
    width: 100px;
    margin: 20px 0 0 0;
}


header h1{
    color: white;
    margin-bottom: 20px;
    font-size: 48px;
}

header #met{
    margin: 10vh 6% 0 0;
    display: flex;
    flex-direction: column;
}

#met div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#met h1{
    text-align: right;
}

#met a{
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 30px;
    background-color: orange;
    color: white;
    border-radius: 200px;
}

#met a#t{
    background-color: rgba(0, 0, 0, 0);
    border: orange 1px solid;
    color: orange;
}

#met a#t:hover{
    background-color: orange;
    color: white;
}

/* *************************************************************************************** */


#fast {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

#fast h1{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
}

#fast h1::after{
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #cf6d17;
    margin: 30px auto 0 auto;
}

#fast p{
    margin-top: 30px;
}

#fast div.mags{
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#fast div.mags h5{
    font-size: 30px;
}

#fast div.mags p{
    margin-top: 10px;
    font-size: 25px;
}

.mags img{
    width: 50px;
}
/* *************************************************************************************** */

#photos{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f4f4f4;;
}

#photos ul{
    
    list-style: none;
    display: flex;
}

#photos li{
    padding: 0;
    margin: 0;
    list-style: none;
}

#photos img{
    margin: 0;
    width: auto;
    padding: 0;
    border-style: none;
    width: 100%;
    opacity: 0.8;
    transition: 70ms;
}

#photos img:hover{
    opacity: 1;
}



/* *************************************************************************************** */

.phon{
    display: flex;
    margin-bottom: 2vh;
}

.phon h1{
    display: block;
}

#iphon{
    display: flex;
    flex-grow: 1;
    width: 50%;
    margin: 30px 0 10px 0;
    flex-direction: column;
    align-items: flex-end;

}

#iphon img{
    width: 40%;
}

#stor{
    flex-grow: 1;
    display: flex;
    font-size: 20px;
    margin: 70px 0 10px 16px ;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
}

#stor ol{
    list-style: none;
}

#stor li{
    display: flex;
    padding: 20px;
    margin-left: 60px;
}

#app{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}



.gerd{
    margin-right: 20px;
    text-align: center;
    font-size: 40px;
    color: #cf6d17;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px #cf6d17 solid;
    border-radius: 500px;
}

/* *************************************************************************************** */
#magss{
    padding: 0 70px;
}

#magss div{
    margin-left: 30px;
}

#magss div img{
    height: auto;
    width: 100%;
    border-radius: 25px;
}

#magss a{
    text-decoration: none;
    color: #cf6d17;
}
/* *************************************************************************************** */

#pizza{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), url("../assest/Omnifood Contents/back-customers.jpg");
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    display: flex;
    height: 70vh;
    width: 100%;
    padding: 5px 100px;
    flex-direction: column;
    align-items: center;
    color: white;
}

#car{
    margin-top: 10vh;
    display: flex;
}

#pizza h5{
    font-size: 40px;
}

#pizza p{
    font-size: 20px;
}

.fard{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fard img{
    margin-right: 20px;
    border-radius: 200px;
    width: 50px;
}
/* *************************************************************************************** */
#foot{
    width: 100%;
    height: auto;
    background-color: #282A35;
    display: flex;
    justify-content: space-between;
}

#mes{
    flex-grow: 1;
    margin-left: 4%;
    order: 1;
}

#mes img{
    -webkit-filter: opacity(60%);
    width: 12%;
}

#mes img:hover{
    -webkit-filter: opacity(100%);
}

#toz{
    flex-grow: 2;
    order: 3;
    color: white;
    text-align: center;
    padding: 2vh 2%;
    font-size: 21px;
    margin: 2vh 3% 2vh 0%;
    width: 100%;
    
}

#nios{
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    order: 2;
    color: white;
    margin-right: 10%;
    /* padding: 2vh 10%;
    margin-top: 10vh; */
    
    
}

*{
    margin: 0;
}



#nios input[type="email"]{
    border-radius: 20px;
    width: 200px;
    margin-top: 3vh;
}
/* *************************************************************************************** */

::-webkit-scrollbar{
    width: 15px;
}



::-webkit-scrollbar-thumb{
    background-color: #cf6d17;
    border-radius: 50px;
}

::-webkit-scrollbar-button{
    visibility: hidden;
}
 

/* more  */

body{
    background-color: #f4f4f4;
}
