*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), url("../assest/Omnifood Contents/hero.jpg");
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0 40px;
}

#bar{
    list-style: none;
    float: right;
    margin-top: 55px;
}

#bar li{
    display: inline-block;
    margin-left: 40px;
    padding: 8px 0;
}

#bar li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav img{
    width: 100px;
    margin: 20px 0 0 0;
}

header h1{
    color: white;
    margin-bottom: 20px;
    font-size: 48px;
}

header #met{
    position:absolute;
    top: 40%;
    
}

#met a{
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 30px;
    background-color: orange;
    color: white;
    border-radius: 200px;
}

#met a#t{
    background-color: rgba(0, 0, 0, 0);
    border: orange 1px solid;
    color: orange;
}

/* *************************************************************************************** */


#fast {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

#fast h1{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
}

#fast h1::after{
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #cf6d17;
    margin: 30px auto 0 auto;
}

#fast p{
    margin-top: 30px;
}

#fast div#mags{
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#fast div#mags h5{
    font-size: 30px;
}

#fast div#mags p{
    margin-top: 10px;
    font-size: 25px;
}

#fast div#mags img{
    width: 50px;
}
/* *************************************************************************************** */

#photos{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f4f4f4;;
}

#photos ul{
    
    list-style: none;
    display: flex;
}

#photos li{
    padding: 0;
    margin: 0;
    list-style: none;
}

#photos img{
    margin: 0;
    width: auto;
    padding: 0;
    border-style: none;
    width: 100%;
    opacity: 0.8;
    transition: 70ms;
}

#photos img:hover{
    opacity: 1;
}



/* *************************************************************************************** */

.phon{
    display: flex;
}

.phon h1{
    display: block;
}

#iphon{
    display: flex;
    flex-grow: 1;
    width: 50%;
    margin: 30px 0 10px 0;
    flex-direction: column;
    align-items: flex-end;

}

#iphon img{
    width: 40%;
}

#stor{
    flex-grow: 1;
    display: flex;
    font-size: 20px;
    margin: 70px 0 10px 16px ;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
}

#stor ol{
    list-style: none;
}

#stor li{
    display: flex;
    padding: 20px;
    margin-left: 60px;
}

#app{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}



.gerd{
    margin-right: 20px;
    text-align: center;
    font-size: 40px;
    color: #cf6d17;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px #cf6d17 solid;
    border-radius: 500px;
}

/* *************************************************************************************** */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: yellowgreen;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: yellow;
    border-radius: 50px;
}

::-webkit-scrollbar-button{
    visibility: hidden;
}
 

/* more  */

body{
    background-color: #f4f4f4;
}
